<h3 class="heading">Todo Element bearbeiten:</h3>

<form class="form" [formGroup]="UpdateTodoForm">
    <label>
        <div class="label">Titel:</div>
        <div class="input"><input type="text" formControlName="todoNameControl"  value="test"></div>
    </label>
    
    <p></p>

    <label>
        <div class="label">Beschreibung:</div>
        <div class="input"><input type="text" formControlName="todoDescriptionControl"  value="texxt"></div>
    </label>
    
</form>


<div class="button" >
    <button class="abstand" color="primary" mat-raised-button formmethod="POST"  (click)="update()">Speichern</button>
    <button color="primary" mat-raised-button formmethod="GET"  (click)="zurueck()">zurück</button>
</div>