<h3>Todo Element bearbeiten:</h3>

<form [formGroup]="UpdateTodoForm">
    <label>
        Titel:
        <input type="text" formControlName="todoNameControl"  value="test">
    </label>
    
    <p></p>

    <label>
        Beschreibung:
        <input type="text" formControlName="todoDescriptionControl"  value="texxt">
    </label>
    
</form>

<form [formGroup]="UpdateTodoForm" (click)="update()"></form>

<p></p>
<input type="submit" (click)="update()" value="Speichern">
<input type="submit" (click)="zurueck()" value="zurück">
<!--[value]="{{this.description}}"

(onload)="showTitle()"
(onload)="showDescription()"

formmethod="PUT"
-->