<h3 class="heading">Todo Element {{this.id}}:</h3>
<ul >
    <li class="label">Titel: {{todoNameControl.value}}, 
        Beschreibung: {{todoDescriptionControl.value}}
    </li>

</ul>
<p></p>

<div class="button">
    <button class="abstand" color="primary" mat-raised-button formmethod="POST"  (click)="deleteTodo()">Löschen</button>
    <button class="abstand" color="primary" mat-raised-button formmethod="POST"  (click)="zurueck()">zurück</button>
    <button class="abstand" color="primary" mat-raised-button formmethod="POST"  (click)="bearbeiten()">bearbeiten</button>
</div>