<!--{{todoForm.value | json}}-->
<div class="heading"><h3>Neues Todo Element erstellen:</h3></div>

<div class="form"><form [formGroup]="CreateTodoForm">
    <label>
        <div class="label">Titel:</div>
        <div class="input"><input type="text" formControlName="title"></div>
    </label>


    <p></p>

    <label>
        <div class="label">Beschreibung:</div>
        <div class="input"><input type="text" formControlName="description"></div>
    </label>
    
</form>

<form [formGroup]="CreateTodoForm" (click)="create()"></form>
</div>

<div class="button">
    <button class="abstand" color="primary" mat-fab formmethod="POST"  (click)="create()">Erstellen</button>    
    <button color="primary" mat-fab formmethod="POST"  (click)="zurueck()">zurück</button>
</div>




<!-- 


-->