

<div class="example-container">
    <h2 class="heading">Todo</h2>  
    <div
      cdkDropList
      #todoList="cdkDropList"
      [cdkDropListData]="todotofinish"
      [cdkDropListConnectedTo]="[doneList]"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let todo of todotofinish" cdkDrag><a class="todotitle" href="http://localhost:4200/todos/{{todo.id}}">{{todo.title}}</a></div>
    </div>
  </div>
  
  <div class="example-container">
    <h2 class="heading">Done</h2>
  
    <div
      cdkDropList
      #doneList="cdkDropList"
      [cdkDropListData]="done"
      [cdkDropListConnectedTo]="[todoList]"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of done" cdkDrag><a class="todotitle" href="http://localhost:4200/todos/{{item.id}}">{{item.title}}</a></div>
    </div>
  </div>
<p></p>
  <div class="button"><button color="primary" mat-fab (click)="onClick()">Neu</button></div>
 <!--<a href="http://localhost:4200/todos/{{todo.id}}">Titel: {{todo.title}}, Beschreibung: {{todo.description}}</a>-->
