

<div class="example-container">
    <h2>Todo</h2>  
    <div
      cdkDropList
      #todoList="cdkDropList"
      [cdkDropListData]="todotofinish"
      [cdkDropListConnectedTo]="[doneList]"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let todo of todotofinish" cdkDrag>{{todo.title}}</div>
    </div>
  </div>
  
  <div class="example-container">
    <h2>Done</h2>
  
    <div
      cdkDropList
      #doneList="cdkDropList"
      [cdkDropListData]="done"
      [cdkDropListConnectedTo]="[todoList]"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of done" cdkDrag>{{item.title}}</div>
    </div>
  </div>
<p></p>
  <button color="primary" mat-fab (click)="onClick()">Neu</button>
 <!--<a href="http://localhost:4200/todos/{{todo.id}}">Titel: {{todo.title}}, Beschreibung: {{todo.description}}</a>-->
